.Works {
    padding: 0 3rem;
    display: flex;
    height: 90vh;
    margin-top: 60rem;
     margin-bottom: 8rem;
    margin-bottom: 13rem;
}
.s-button {
    width: 8rem;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 1.5rem; 
}
.Works > .awesome span:nth-child(3) {
    width: 30rem;
}
{/*right side path */}

.w-right {
    position: relative;
}
.w-maincircle {
    left: 9rem;
    position: relative;
    width: 18rem;
    height: 18rem;
    border-radius: 100%;
    box-shadow: var(--smboxShadow);
    top: 2rem;
    background: white;
}
.w-maincircle>*{
    position: absolute;
}
.w-maincircle > :nth-child(1) {
    top: 5.5rem;
    left: -3rem;
}
.w-maincircle > :nth-child(2) {
    top: -3rem;
    left: 6rem;
}
.w-maincircle > :nth-child(3) {
    top: 6rem;
    left: 5rem;
}
.w-maincircle > :nth-child(4) {
    top: 15rem;
    left: 5rem;
}
.w-maincircle > :nth-child(5) {
    top: 5.5rem;
    left: 13rem;
}