.intro {
    display: flex;
    height: 77vh;
    margin-top: 6rem;
}
.i-left {
        display: flex;
        position: relative;
        flex: 1;
        flex-direction: column;
        gap: 2rem;
}
.i-name {
    display: flex;
    flex-direction: column;
}
.i-name>:nth-child(1){
    color: var(--black);
    font-weight: bold;
    font-size: 3rem;
}
.i-name>:nth-child(2){
    color: orange;
    font-weight: bold;
    font-size: 3rem;
}
.i-name>:nth-child(3){
    color: #3d8b9c ;
    font-weight: 100;
    font-size: 1.3rem;
    margin-top: 10px;
}
.i-name>:nth-child(4){
    color: gray;
    font-weight: 100;
    font-size: 1.1rem;
    margin-top: 10px;
}
    
.i-name>:nth-child(5){
    color: gray;
    font-weight: 100;
    font-size: 1.1rem;
    margin-top: 10px;
}
.i-button {
    width: 8rem;
    font-size: 1.1rem;
    font-weight: bold;
}
.i-icons {
    margin-top: 3rem;
    display: flex;
    gap: 0.5rem;
}
.i-icons>*{
    transform: scale(0.8);
}
.i-icons>*:hover{
    cursor: pointer;
}
.i-right {
    flex:1;
    position: relative;
}
.i-right>*{
    position: absolute;
    z-index: 1;
}
.i-right>:nth-child(1){
    transform: scale(0.69);
    left:-15%;
    top: -9%;
}
.i-right>:nth-child(2){
    top: -4.6rem;
    transform: scale(0.67);
    left: -3rem;
}
.i-right>:nth-child(3){
    transform: scale(1.43);
    left: 25%;
    top: 5%;
}
.i-right>:nth-child(4){
    transform: scale(0.62);
    top: -19%;
    left:-24%;
    border-radius: 50%;
    padding: 0;
}
.blur {
    position: absolute;
    width: 25rem;
    height: 20rem;
    border-radius: 50%;
    background: #edd0ff;
    z-index: -9;
    top: -18%;
    left: 56%;
    filter: blur(72px);
}
.link:before {
    content: '';
    width: 0;
    height: 1px;
    position: absolute;
    right: 0;
    bottom: 0;
    opacity: 0.5;
    background: #444;
    transition: ease all 0.3s;
}
.link:after {
    content: '';
    width: 100%;
    height: 40%;
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0.5;
    transition: ease all 0.3s;
    background: #F5C32C;
    background: linear-gradient( to right, #43e97b, #F5C32C );
}


.link {
    color: #444 !important;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    display: inline-block;
    text-decoration: none !important;
    transition: ease all 0.3s;
    font-size: 14px;
    font-weight: 600;
}

.link:hover::after{
    width: 10%;
}

.link:hover::before{
    width: 90%;
}
@media screen and (max-width: 480px) {
    .intro{
        flex-direction: column;
        height: 64rem;
        gap: 5rem;
        width: 17rem;
        margin-top: 3rem;
    }
    .i-right{
        transform: scale(0.8);
        left: -3rem;
    }
    .i-right .blur{
        display: none;
    }
    .i-right>:nth-child(1){
        top: -4.4rem;
        transform: scale(0.67);
        left: 3rem;
    }
    .i-right>:nth-child(2){
        top: -4.4rem;
        transform: scale(0.67);
        left: 4rem;
    }
    .i-right>:nth-child(3){
        transform: scale(1.43);
        left: 8rem;
        top: -4rem;
        height: 172px;
        margin: 28px;
    }
    .i-right>:nth-child(4) {
        top: -8rem;
        left: -1rem!important;
    }
    .floating-div1 {
        top: -6rem!important;
        left: 16rem!important;
    }
    .floating-div2 {
        top: 8rem!important;
        left: 1rem!important;
    }
}
