.Footer {
    display: flex;
    align-items: center;
    margin: -0.5rem -3.5rem;
    position: relative;
    margin-top: -7rem;
}
.f-content > .great {
font-size: xx-large;
color: white;
margin-top: 4rem;
}
.f-content {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-top: 0.5rem;
    gap: 2rem;
    color: white;
}
.f-icons {
    display: flex;
    gap: 1rem;
}
.f-icons > .hr {
width: 100%;
color: white;
size: 10;
border: 2rem;
font-weight: bold;
}
@media screen and (max-width: 480px) {
  
    .Footer {
        margin: 0;
        margin-top: -13rem;
    }
    .f-content > .great {
    font-size: 1.5rem;
    display: flex;
    }
    .f-content{
    gap: 5.3rem;
    transform: scale(.5); 
    display: flex;
    flex-direction:row-reverse;
    margin-top: -0.5rem;  
    }
}
